/*
Colors:

Lightblue: rgb(58,254,251)
Darkgreenblue: rgb(10,66,73)
Brokenwhite:
*/

body {
	background-color: black;
	color: white;
	font-family: 'Iceland', cursive;
	padding-top: 80px;
}

/*---------------------navbar---------------------*/
nav {
	display: inline-block;
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
}

nav ul {
	display: block;
	float: right;
	padding-right: 20px;
	margin-top: 35px;
	margin-right: 30px;
}

nav li {
	display: inline;
	list-style: none;
	font-size: 20pt;
	margin: 10px;
	padding: 10px;
}

nav li a {
	text-decoration: none;
	color: white;
	
} 

.logo {
	padding-left: 25px;
	padding-top: 25px;
	height: 52px;
}

/*---------------------homepage---------------------*/
#container {	
	clear: right;
}

#storeButton{
	background-color: rgb(58,254,251);
	border-radius: 5px;
	color: black;
}

#storeButton a{
	color: black;
}

#splashBanner {
	background-image: url("images/SliderImage.png");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 1000px;
    width: 100%;
    margin: 0;
    background-position: center;
    margin-top: -100px;
}

#gameTitle {
	font-size: 80pt;
	padding-top: 600px;
	padding-left: 100px;
}
#outNow {
	font-size: 20pt;
	margin-left: 110px;
	margin-top: -100px;
	padding: 10px;
	background-color: rgb(58,254,251);
	border-radius: 5px;
	color: black;
	width: 100px;
}
#outNow a {
	text-decoration: none;
}

#Dishonored{
	display: block;
}
#DragonAge{
	display: block;
}

#gamesSection p{
    font-size: 35pt;
    padding-left: 50px;
}

/*@media (min-width: 900px) {
  #game-section-1, #game-section-2, #gamesSection img {
    display: inline;
  }*/

#gamesSection img {
    padding: 40px;
    margin: 0 auto;
}

#game-section-1{
    width: 45%;
    display: inline-block;
    float: left;
    margin: 0 auto;
}

#game-section-2{
    width: 45%;
    display: inline-block;
    margin: 0 auto;
}

/*---------------------store---------------------*/
#storecontainer {
	margin: 0 auto;
}

#top {
	width: 100%;
	display: inline;
	padding: 0px 0px 0px 25px;
}

#line {
	height: 20px;
	width: 100%;
	background-color: white;
	float: left;
	clear: both;
	margin-left: -7px;
}

#frostboltstore {
	color: rgb(58,254,251);
	font-size: 30pt;
	display: inline-block;
}

#searchbar {
	display: inline-block;
	padding-left: 500px;
}

.search {
	width: 300px;
	position: relative;
	z-index: -1;
}

.searchTerm {
	float: left;
	width: 100%;
	border-bottom: 1px solid rgb(58,254,251);
	border-right-style: none;
	border-top-style: none;
	border-left-style: none;
	padding: 5px;
	height: 20px;
	outline: none;
	color: rgb(10,66,73);
	font-family: 'Iceland', cursive;
	font-size: 20px;
	background-color: rgba(58,254,251,0);
}

.searchTerm:focus{
	color: rgb(58,254,251);
}

.searchButton {
	position: absolute;  
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(58,254,251);
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	border-style: none;
	margin-left: 5px;
}

.searchButton img {
	height: 20px;
}

/*///////*/

#allthegames {
	text-align: center;
	background-color: black;
}

#row1 {
	margin: 0 auto;
	clear: both;
}

#row2 {
	margin: 0 auto;
	clear: both;
}

.gameBlock {
	display: inline-block;
	width: 257px;
	float: left;
	padding: 20px; 
	text-align: left;
}

.boxart {
	height: 300px;
}

.gameinfo {
	background-color: rgb(10,66,73);
	padding: 4px 4px 20px 4px;
	margin-top: -4px;
}	

.gametitle {
	font-size: 20pt;
	-webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    -webkit-margin-start: 10px;
    -webkit-margin-end: 10px;
}

.genre{
	font-size: 10pt;
	color: rgb(58,254,251);
	-webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    -webkit-margin-start: 10px;
    -webkit-margin-end: 10px;
}

.bottominfo {
}

.price {
	font-size: 25pt;
	display: inline;
	-webkit-margin-before: 10px;
    -webkit-margin-after: 10px;
    -webkit-margin-start: 10px;
    -webkit-margin-end: 10px;
}

.buynow {
	background-color: rgb(58,254,251);
	border-radius: 5px;
	display: inline-block;
	float: right;
	color: black;
	padding: 10px 20px 10px 20px;	
	text-decoration: none;
	font-size: 15pt;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 10px;
    -webkit-margin-start: 10px;
    -webkit-margin-end: 10px;
}

/*---------------------footer---------------------*/
#footer {
    background-color: rgb(10,66,73);
    padding-bottom: 20px;
    width: 100%;
    clear: both;
}

#footer ul {
    display: inline-block;
    list-style: none;
}

.listHead {
    font-size: 20pt;
}

#footer li {
    font-size: 15pt;
}

#legal {
    border-left: 1px solid rgb(58,240,240);
}

#contact {
    display: inline-block;
    border-left: 1px solid rgb(58,240,240);
    margin-top: 10px;
}

#contact ul {
    display: block;    
}

#socialBanner li {
    display: inline;
}

#socialBanner ul {
    display: inline-block;    
}

#socialBanner {
    display: inline-block;
    font-size: 15pt;
}

#socialBanner li a {
    text-decoration: none;
    color: white;
} 

#explore {
    width: 20%;
    float: left;
    line-height: 25px;
}

#legal {
    width: 20%;
    float: left;
    line-height: 25px;
}

#google {
    display: inline-block;
    padding-left: 200px;
}


#rights {
    font-size: 15pt;
}